# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Block Health Check

on: repository_dispatch

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    outputs:
      success: ${{ steps.testRunDirectory.outputs.success }}
      error: ${{ steps.testRunDirectory.outputs.error }}
      scripts: ${{ steps.testRunDirectory.outputs.scripts }}
      styles: ${{ steps.testRunDirectory.outputs.styles }}
      blocks: ${{ steps.testRunDirectory.outputs.blocks }}
      screenshotSearchResults: ${{ steps.testRunDirectory.outputs.screenshotSearchResults }}
      screenshotBlock: ${{ steps.testRunDirectory.outputs.screenshotBlock }}
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Block Testing Framework
      run: npm ci
    - name: Configure & Start Environment
      run: npm run wp-env start
    - name: Modify folder permissions
      run: docker exec -t $( docker ps -qf "name=tests" ) chmod -R 767 /var/www/html/wp-content
    - name: Create Screenshots Directory
      run: mkdir -p screenshots
    - name: Run End to End Tests
      id: testRunDirectory
      run: npm run test:e2e
    - name: Upload screenshots to GitHub
      uses: actions/upload-artifact@v2
      with:
        name: Screenshots
        path: screenshots/

  run_publish:
    runs-on: ubuntu-latest
    needs: run_tests
    if: always()
    steps:
      - name: WordPress.org Plugin Directory Callback
        run: curl "$API_ENDPOINT" -s -H "$AUTH_HEADER" -H "$CONTENT_TYPE" -d "$POST_PAYLOAD"
        env:
          API_ENDPOINT: "https://wordpress.org/plugins/wp-json/plugins/v1/plugin/${{ github.event.client_payload.slug }}/e2e"
          AUTH_HEADER: "Authorization: BEARER ${{ secrets.POST_SECRET }}"
          CONTENT_TYPE: "Content-Type: application/json"
          POST_PAYLOAD: ${{ toJSON( needs.run_tests.outputs ) }}
